body {
    background-color: darkgoldenrod;
}
.circle {
    background-color: darkgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
    animation-name: circle-down;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: 5s;
}
.one {
    animation-delay: 0.25s;
}
@keyframes circle-down {
    0% {
        transform: rotate(10px);
    }
    100% {
        transform: rotate(100px);
    }
    
    
}